footer#footer
  br
  br
  br
  .navbar.navbar-inverse.navbar-fixed-bottom(role='footer')
    .navbar-inner
      .container
        .footer(style = 'color : #666666') WMS Tools - Copyright 2013 @ SNC-Lavalin inc. Division HPC
