script(type='text/javascript', src='/js/jquery.min.js')
script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/bootstrap-editable.js')
script(type='text/javascript', src='/js/bootstrap-datepicker.js')
script(type='text/javascript', src='/js/bootbox.js')
script(type='text/javascript', src='/js/jquery.tagsinput.min.js')
script(type='text/javascript', src='/js/jquery.dataTables.min.js')
script(type='text/javascript', src='/js/jquery.sticky.js')
script(type='text/javascript', src='/js/app.js')

